.content
	position absolute
	top 50%
	right 0
	left 0
	margin auto
	padding 10px
	width 302px
	border solid 1px gray
	transform translateY(-50%)

	&__field
		margin-bottom 10px
		display flex
		flex-wrap wrap
		width 300px
		height 300px

	&__field-item
		width 73px
		height 73px
		border solid 1px gray

		&_color_red
			background rgb(255, 0, 0)

		&_color_pink
			background  rgb(255, 0, 255)

		&_color_orange
			background rgb(255, 165, 0)

		&_color_yellow
			background rgb(255, 255, 0)

		&_color_green
			background rgb(0, 255, 0)

		&_color_blue
			background rgb(0, 191, 255)

		&_color_sapphire
			background rgb(0, 0, 255)

		&_color_brown
			background rgb(128, 0, 0)

	&__btn
		display block

	&__timer
		margin-top 10px
		display block
